
<div class="container">
  <div class="row ">
    <div class="col-md-12 ">
      <img class="img-responsive" src="../../../../assets/img/Logo_DicDat.png">
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h3> DicDat es un herramienta que ayuda con la creación de <b>WordLists</b> o <b>Diccionarios de datos</b>, los cuales son totalmente personalizables.
        La generación de los datos se dan en base a las palabras que nosotros le proporcionemos a esta herramienta, también le podremos asignar el número de
        combinaciones máxima y mínima que nos sea necesario, por último.<br><br>
        <b>FIJATE EN EL EJEMPLO</b><br>
        *<b>Palabra de inicio</b>: ejemplo@correo.com-<br>
        *<b>lista de palabras</b>: p1, p2, p3<br>
        *<b>Combinaciones máximas</b>: 3<br>
        *<b>Combinaciones mínimas</b>: 2<br>
        <b>TENDREMOS ESTA SALIDA</b><br>
        01. <b>ejemplo@correo.com-</b>p1p2<br>
        02. <b>ejemplo@correo.com-</b>p2p1<br>
        03. <b>ejemplo@correo.com-</b>p1p3<br>
        04. <b>ejemplo@correo.com-</b>p3p1<br>
        05. <b>ejemplo@correo.com-</b>p2p3<br>
        06. <b>ejemplo@correo.com-</b>p3p2<br>
        07. <b>ejemplo@correo.com-</b>p1p2p3<br>
        08. <b>ejemplo@correo.com-</b>p1p3p2<br>
        09. <b>ejemplo@correo.com-</b>p2p1p3<br>
        10. <b>ejemplo@correo.com-</b>p2p3p1<br>
        11. <b>ejemplo@correo.com-</b>p3p1p2<br>
        12. <b>ejemplo@correo.com-</b>p3p2p1<br>
        <br>
        Este combo de datos se puede utilizar para realizar ataques de fuerza bruta a redes WiFi o a cuentas de redes sociales.<br>
        Entonces, asegúrate de agregar los datos que creas que el usuario pueda utilizar en la contraseña.
      </h3>
    </div>
    <div class="row" style="margin-top: 15px">
      <h1><b>¿Cómo se usa?</b></h1>
      <h3><b>01.</b> Primero agregaremos las palabras que creamos puedan ser utilizadas en la contraseña.
      </h3>
      <img src="assets/img/agregarPalabra.jpg">
      <h3>Cada palabra agregada aparecerá en una lista.</h3>
      <img src="assets/img/listaPalabras.png">
      <h3><b>02.</b> Podemos escoger el número máximo de combinaciones arrastrando el slider hasta donde nos parezca correcto.</h3>
      <img src="assets/img/numeroCombinaciones.jpg">
      <h3><b>03.</b> Hacemos exactamente lo mismo pero para elegir el mínimo de estas combinaciones.</h3>
      <img src="assets/img/minCombinaciones.jpg">
      <h3><b>04.</b> Podremos también agregar una palabra con la que queremos que inicie cada mezcla de nuestro diccionario</h3>
      <img src="assets/img/palabraInicio.png">
      <h3><b>05.</b> Ahora podremos generar nuestro archivo en el siguiente botón.</h3>
      <img src="assets/img/generarArchivo.png">
      <h3>Y solo nos queda aceptar la descarga dando click en el boton "Descargar".</h3>
      <img src="assets/img/descargar.png" class="img-responsive">
    </div>

  </div>



</div>

