.col-md-3[type="references"]{
  font-size: 12px;
  text-align: right;
}

a{
  color: white;
}

.col-md-3[type="logo"]{
  text-align: left;
}


img[type="logo"]{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

}

img{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;}

.col-md-1{
  link: "gooogle.com";
}
.col-md-3{
}
.example-spacer {
  flex: 1 1 auto;
}
