

<mat-toolbar color="primary" style="background:  #111111d9">
  <button mat-button  routerLink="/"><img src="assets/img/logoNegro.png"></button>


  <span class="example-spacer"></span>



  <button mat-button [matMenuTriggerFor]="menu">
    ¿Tienes dudas?
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/comoUsar">
      <mat-icon>live_help</mat-icon>
      <span>¿C&oacute;mo usar?</span>
    </button>
    <a href="https://www.paypal.com/donate/?hosted_button_id=YH5DXSJRNEN7Y" target="_blank">
    <button mat-menu-item>
      <mat-icon>attach_money</mat-icon>
        <span>Quiero donar!</span>
      </button>
    </a>
  </mat-menu>
</mat-toolbar>





<div class="container p-5">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>




