<mat-toolbar color="primary" style="background:  #111111d9">
  <span>DicDat</span>
  <button mat-button routerLink="/admin/coffes" class="ms-2">CRUD</button>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" >
    ¿Cómo usar?
    <mat-icon>apps icon</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>


